@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html{
    height: 130vh;
    background-color: rgb(240, 242, 245);
}
.login-form{
    height: 480px;
    width: 400px;
    position: absolute;
    top: 20%;
    left: 35%;
    border: 1px solid rgb(218, 217, 217);
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    background-color: white;
}
.signup-form {
    height: 700px;
    width: 400px;
    position: absolute;
    top: 18%;
    left: 35%;
    border: 1px solid rgb(218, 217, 217);
    text-align: center;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}
h1{
    text-align: center;
    margin-bottom: 30px;
    background-color: white;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
}
input[type=text],input[type=email],input[type=password],input[type=tel]{
    height: 50px;
    width: 350px;
    margin-top: 10px;
    margin-bottom: 30px;
    border: 1px solid gray;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    
}
input::placeholder{
    font-size: larger;
}
button,.login-btn,.signup-btn{
    height: 50px;
    width: 350px;
    background-color: rgb(255, 30, 30);
    border: none;
    border-radius: 5px;
    font-size: larger;
    margin-right: 50px;
    cursor: pointer;
}
input[type=submit]{
    margin-bottom: 30px;
}
.login{
    margin-top: 20px;
    margin-left: 3px;
    margin-bottom: 40px;
    cursor: pointer;
}
.signup-btn{
    margin-left: 3px;
    background-color: rgb(131, 42, 183);
    margin-top: 10px;
    margin-bottom: 40px;
    cursor: pointer;
}
.create-account{
    background-color: rgb(106, 42, 183);
    margin-top: 30px;
    margin-left: 4px;
    cursor: pointer;
}
p{
    margin-top: 30px;
    font-size: large;
}
a{
    color: dodgerblue;
    cursor: pointer;
}
.buttons{
    margin-top: 20px;
    margin-left: 50px;
    display: flex;
    justify-content: space-around;
}